<%- include('./partial/header') %>
<body>
  <%- include('./partial/navbar') %>
  <div class="jumbotron">
    <h1 class="display-4" align="center">Welcome to COVID Market</h1>
    <h3 class="lead" align="center">Please login to continue</h3>
    <hr class="my-4">
    <ul style="margin: 0 20%;";">
      <form action="/#" method="POST">
        <div class="form-group">
          <label>User Name</label>
          <input class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-primary" href="/login" role="button">Login</a>
      </form>
    </ul>
  </div>
</body>
</html>