<%- include('./partial/header') %>
<body>
  <%- include('./partial/navbar') %>
  <div class="jumbotron">
    <h1 class="display-4" align="center">E-Commerce</h1>
    <p class="lead" align="center">This is a e-commerce</p>
    <hr class="my-4">
    <ul style="margin: 0 38%;";">
      <a class="btn btn-primary btn-lg" href="/#" role="button">test</a>
    </ul>
  </div>
</body>
</html>