<%- include('./partial/header') %>

<body>
  <%- include('./partial/navbar') %>
  <div class="jumbotron">
    <h1 class="display-4" align="center">Welcome to COVID Market</h1>
    <hr class="my-4">
    <ul style="margin: 0 20%;" ;">

    </ul>
  </div>
</body>

</html>